<html lang="en" ng-app="jPantry">
	<head>
		<meta charset="utf-8">
  		<title>JPantry</title>
  		<link rel="stylesheet" href="css/main.css">
  		<script src="js/jquery/jquery-1.11.0.min.js"></script>
  		<script src="js/angularjs/angular.js"></script>
  		<script src="js/angularjs/angular-resource.min.js"></script>
  		<script src="js/jpantry/jpantry.js"></script>
	</head>
	<body>
		<div ng-controller="jPantryCntrl">
			<form>
				<label for="inScanType">In</label>
				<input type="radio" id="inScanType" ng-model="scanType" value="in" /><br>
				<label for="outScanType">Out</label>
				<input type="radio" id="outScanType" ng-model="scanType" value="out" /><br>
				<label for="lookUpScanType">Look Up</label>
				<input type="radio" id="lookUpScanType" ng-model="scanType" value="lookup" /><br>
				
				<label for="upcCodeTextField">UPC Code</label>
				<input type="text" name="upcCode" id="upcCodeTextField" ng-model="upcCode" ng-keypress="upcCodeKeyPress($event)" /><br>
				
				<div class="quantityFormRow">
					<label for="quantityTextField">Quantity</label>
					<input type="text" name="quantity" id="quantityTextField" ng-model="quantity" ng-keypress="quantityKeyPress($event)" value="1" /><br>
				</div>
				<div class="onListFormRow">
					<label for="onListCheckbox">On List</label>
					<input type="checkbox" id="onListCheckbox" name="onList" ng-model="onList" value="true"><br>
				</div>
			</form>
			<div>
				<table>
					<tr>
						<th>Id</th>
						<th>UPC</th>
						<th>Name</th>
						<th>Description</th>
						<th>On List</th>
						<th>Quantity</th>
					</tr>
					<tr>
						<td>{{item.id}}</td>
						<td>{{item.upc}}</td>
						<td>{{item.name}}</td>
						<td>{{item.description}}</td>
						<td>{{item.onList}}</td>
						<td>{{item.quantity}}</td>
					</tr>
				</table>
			</div>
		</div>
		
		<div ng-controller="jPantryShoppingListCntrl">
			<h3>Shopping List</h3>
			<ul>
				<li ng-repeat="shoppingItem in shoppingList">
			    	{{shoppingItem.id}} - {{shoppingItem.upc}} - {{shoppingItem.name}} 
				</li>
			</ul>
		</div>
		
		<div ng-controller="jPantryInventoryListCntrl">
			<h3>Inventory List</h3>
			<ul>
				<li ng-repeat="inventoryItem in inventoryList">
			    	{{inventoryItem.id}} - {{inventoryItem.upc}} - {{inventoryItem.name}}
				</li>
			</ul>
		</div>
		
		<div ng-controller="jPantryAllListCntrl">
			<h3>All List</h3>
			<ul>
				<li ng-repeat="allItem in allList">
			    	{{allItem.id}} - {{allItem.upc}} - {{allItem.name}}
				</li>
			</ul>
		</div>
	</body>
</html>